# Packages
node_modules
**/node_modules

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Miscellaneous
.tmp/
.github/
.gitattributes
.gitignore
.eslintrc.json
.prettierc.json
.npmignore
.npmrc
